.debug,
.debug * {
  border: 1px dashed red;
  padding: 5px;
  margin: 5px;
}

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.utility * {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
}

body {
  background-color: lightyellow;
}

header {
  background-color: coral;
  color: whitesmoke;
}

main {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

a:hover span,
.trip-icon {
  color: coral !important;
}

.tool {
  background-color: coral;
}
