.debug,
.debug * {
  border: 1px dashed red;
  padding: 5px;
  margin: 5px;
}

/* * {
  font-family: "Inter", sans-serif;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
}

body {
  background-color: lightyellow;
}

header {
  background-color: coral;
  color: whitesmoke;
}

a:hover span {
  color: coral !important;
}

.trip-icon {
  color: coral;
}
